.top-space {
    margin-top: 8rem;
}

.center-text {
    text-align: center;
}

.left-spacing {
    margin-left: 1rem;
}

.card-header {
    margin-bottom: 1rem;
    font-size: 18px;
}

.body {
    background: lightgray
}