.leaflet-container {
  height: 600px;
  width: 90%;
  margin: 0 auto;
  z-index: 0;
}

.filter-margin {
  margin-left: -3rem;
}

.footer {
  margin-top: 3rem;
  padding-bottom: 10rem;
  padding-top: 1rem;
}

.leaflet-div-icon {
  background: transparent;
  color: red;
  border: none;
}