.leaflet-container {
  height: 600px;
  width: 90%;
  margin: 0 auto;
}

.filter-margin {
  margin-top: -5rem;
  margin-left: -3rem;
}

.footer {
  margin-top: 3rem;
  padding-bottom: 10rem;
  padding-top: 1rem;
}
